<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SketchPad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="///netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="///netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <script src="///netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" th:src="@{/sketchApp.js}"/>
</head>
<body>

<div class="page-header">
    <h1>SketchPad</h1>
</div>

<div class="container" ng-app="sketchApp" ng-controller="sketchesCtrl">
    <div class="panel panel-default" ng-repeat="sketch in sketches">
        <div class="panel-body" ng-click="myFunction(this)">
            <h3>{{sketch.name}}</h3>
            <span class="badge">#testTag2</span>
            <p>{{sketch.text}}</p>
        </div>
    </div>
</div>

</body>
</html>

